#sample_span {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 15%;
    font-size: 2vw;
}

.green_text {
    color: green;
    text-decoration: underline;
}

.red_text {
    color: red;
}

.double_line {
    text-decoration: overline underline;
}

.capital_letter {
    font-size: 3vw;
}

.blue_text {
    color: blue;
}

.underline {
    color: red;
    text-decoration: underline;
}